APP_NAME="Stock Manager"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://votre-app.onrender.com

LOG_CHANNEL=stack
LOG_LEVEL=error

# Base de données (PostgreSQL pour Render)
DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Session & Cache
SESSION_DRIVER=database
CACHE_STORE=database

# Resend Mail (Gardez votre clé locale)
MAIL_MAILER=resend
MAIL_FROM_ADDRESS="onboarding@resend.dev"
MAIL_FROM_NAME="Stock Manager"
RESEND_API_KEY=
